<html lang="en">

<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Sugoii Orders</title>
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    
<link rel="apple-touch-icon" sizes="57x57" href="/public/css/assets/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/public/css/assets/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/public/css/assets/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/public/css/assets/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/public/css/assets/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/public/css/assets/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/public/css/assets/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/public/css/assets/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/public/css/assets/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/public/css/assets/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/public/css/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/public/css/assets/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/public/css/assets/favicon-16x16.png">
<link rel="manifest" href="/public/css/assets/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/public/css/assets/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>