<body>
    <div class="success">
    <img src="/public/css/assets/logo.jpg" width="200px">
    <b><p style="color: #06640a;">Order Success!</p></b>
    <b><p>We will send you an email for confirmation!</p></b>
    <form method="GET" action="/">
        <button class="myButton" type="submit">Order Again</button>
    </form>
    </div>
</body>